<html lang="en">
<body>

    <div class = "about content"> 
        <h2>Hi <%=name%>,</h2>
        <p>Welcome to Talkitive!</p>
    </div>
    <br>
    <div>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
        </form>
    </div>
    

</body> 
</html>