
<% if (messages.error) {%>
    <%= messages.error %>
<% } %>
<%-include('./partials/loginAndRegister_style.ejs')%>
<body>
<div class = "login content"> 
    <h1>Login to Talkative!</h1>
    <form action = "/login" method="POST">
        <div class = "txt_field">
            <input type="email" id="email" name = 'email' required>
            <span></span>
            <label for="email">Email</label>
        </div>

        <div class = "txt_field">
            <input type="password" id="password" name = 'password' required>
            <span></span>
            <label for="password">Password</label>
        </div>
        <button type="submit">Login</button>
    </form>
    <div class = "signup">
        <a href="/register">Register</a>
    </div>
</div>
</body>

</html>